# Get these from your API settings: https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://byzsdohzmdbucrbzqylm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5enNkb2h6bWRidWNyYnpxeWxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY5NTM1MjMsImV4cCI6MjA1MjUyOTUyM30.qqrW6JlWsT39NslS_vgAgVqyZ39q0eUKz80ND9yqdhs

# Get this from your Vercel project settings
NEXT_SITE_URL=https://supabase-nextjs-todo-ousivtj3p-dineshsingarias-projects.vercel.app
NEXT_REDIRECT_URLS=https://supabase-nextjs-todo-git-firstbranch-dineshsingarias-projects.vercel.app/,https://supabase-nextjs-todo-hy9ewlnbf-dineshsingarias-projects.vercel.app/,https://localhost:3000/
